In [1]:
import pandas as pd
import numpy as np

In [4]:
match=pd.read_csv("matches.csv")
delivery=pd.read_csv("deliveries.csv")
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [7]:
match.shape

(636, 18)

In [5]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [8]:
delivery.shape

(150460, 21)

In [10]:
mask1=delivery.groupby('batsman')

In [12]:
len(mask1)

461

In [15]:
mask1.size().sort_values(ascending=False).head(10)

batsman
V Kohli       3494
G Gambhir     3433
SK Raina      3369
RG Sharma     3274
S Dhawan      3005
RV Uthappa    2960
DA Warner     2902
MS Dhoni      2680
AM Rahane     2602
CH Gayle      2532
dtype: int64

In [23]:
mask1.get_group("G Gambhir")

,match_id,inning,batting_team,bowling_team,over,ball,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
617,3,2,Kolkata Knight Riders,Gujarat Lions,1,1,CA Lynn,P Kumar,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
620,3,2,Kolkata Knight Riders,Gujarat Lions,1,4,CA Lynn,P Kumar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
621,3,2,Kolkata Knight Riders,Gujarat Lions,1,5,CA Lynn,P Kumar,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
623,3,2,Kolkata Knight Riders,Gujarat Lions,2,1,CA Lynn,DS Kulkarni,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
626,3,2,Kolkata Knight Riders,Gujarat Lions,2,4,CA Lynn,DS Kulkarni,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149895,634,2,Kolkata Knight Riders,Sunrisers Hyderabad,8,6,MK Pandey,BCJ Cutting,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
149896,634,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,1,MK Pandey,Bipul Sharma,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
149899,634,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,4,MK Pandey,Bipul Sharma,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
149901,634,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,MK Pandey,Bipul Sharma,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
149902,634,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,MK Pandey,BCJ Cutting,0,0,0,0,0,0,0,0,0,G Gambhir,caught,V Shankar (sub)

In [24]:
mask1.sum()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
batsman,,,,,,,,,,,,,
A Ashish Reddy,90024,277,3312,720,0,3,5,0,0,0,280,8,288
A Chandila,2815,7,132,23,0,0,0,0,0,0,4,0,4
A Chopra,7602,78,467,273,0,4,0,1,0,0,53,5,58
A Choudhary,614,28,371,71,0,0,0,0,0,0,25,0,25
A Flintoff,6908,100,670,203,0,4,0,6,0,0,62,10,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
YV Takawale,54862,305,1017,695,0,5,0,9,1,0,192,15,207
Yashpal Singh,9918,113,578,250,0,1,0,0,1,0,47,2,49
Younis Khan,679,14,21,25,0,0,0,0,0,0,3,0,3
Yuvraj Singh,634434,3064,25532,7599,2,82,2,28,7,0,2591,119,2710
Z Khan,31770,226,2423,525,0,0,3,0,1,0,117,4,121

In [27]:
mask1["batsman_runs"].sum().sort_values(ascending=False).head(10)

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

In [37]:
six=delivery[delivery["batsman_runs"]==6]

In [43]:
six.shape[0]

6523

In [38]:
bat_six=six.groupby("batsman")

In [41]:
bat_six.size().sort_values(ascending=False).head(10)

batsman
CH Gayle          266
SK Raina          174
RG Sharma         173
DA Warner         160
V Kohli           160
AB de Villiers    158
MS Dhoni          156
YK Pathan         149
KA Pollard        148
Yuvraj Singh      141
dtype: int64

In [47]:
six.groupby("batsman")["bowling_team"].count().sort_values(ascending=False).head(10)

batsman
CH Gayle          266
SK Raina          174
RG Sharma         173
DA Warner         160
V Kohli           160
AB de Villiers    158
MS Dhoni          156
YK Pathan         149
KA Pollard        148
Yuvraj Singh      141
Name: bowling_team, dtype: int64

In [51]:
vk=delivery[delivery["batsman"]=="V Kohli"]

In [52]:
vk.shape

(3494, 21)

In [56]:
vk.groupby('bowling_team')["batsman_runs"].sum().sort_values(ascending=False)

bowling_team
Chennai Super Kings        706
Delhi Daredevils           661
Kings XI Punjab            483
Mumbai Indians             447
Sunrisers Hyderabad        439
Kolkata Knight Riders      391
Deccan Chargers            306
Gujarat Lions              283
Rajasthan Royals           258
Rising Pune Supergiants    188
Pune Warriors              128
Rising Pune Supergiant      83
Kochi Tuskers Kerala        50
Name: batsman_runs, dtype: int64

In [57]:
def top_run(batsman_name):
    bat=delivery[delivery["batsman"]==batsman_name]
    return bat.groupby('bowling_team')["batsman_runs"].sum().sort_values(ascending=False)

In [60]:
top_run("V Kohli")

bowling_team
Chennai Super Kings        706
Delhi Daredevils           661
Kings XI Punjab            483
Mumbai Indians             447
Sunrisers Hyderabad        439
Kolkata Knight Riders      391
Deccan Chargers            306
Gujarat Lions              283
Rajasthan Royals           258
Rising Pune Supergiants    188
Pune Warriors              128
Rising Pune Supergiant      83
Kochi Tuskers Kerala        50
Name: batsman_runs, dtype: int64

In [62]:
top_run("DA Warner")

bowling_team
Kolkata Knight Riders          677
Kings XI Punjab                668
Royal Challengers Bangalore    569
Mumbai Indians                 465
Chennai Super Kings            338
Gujarat Lions                  336
Delhi Daredevils               268
Rajasthan Royals               231
Deccan Chargers                226
Pune Warriors                  118
Rising Pune Supergiant          83
Kochi Tuskers Kerala            16
Rising Pune Supergiants         11
Sunrisers Hyderabad              8
Name: batsman_runs, dtype: int64

In [65]:
death_over=delivery[delivery["over"]>15]

In [68]:
death_over.groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False).head(10)

batsman
MS Dhoni          2076
KA Pollard        1352
RG Sharma         1314
AB de Villiers    1203
V Kohli            993
YK Pathan          930
Yuvraj Singh       883
JP Duminy          869
SK Raina           767
RA Jadeja          753
Name: batsman_runs, dtype: int64

In [76]:
all_bat=death_over.groupby("batsman")["batsman_runs"].count()

In [82]:
all_bat.shape[0]

416

In [79]:
x=all_bat>200

In [83]:
all_bat[x].shape[0]

43

In [84]:
batsman_list=all_bat[x].index.tolist()

In [85]:
batsman_list

['A Mishra',
 'AB de Villiers',
 'AD Mathews',
 'AM Rahane',
 'AR Patel',
 'AT Rayudu',
 'BJ Hodge',
 'DA Miller',
 'DA Warner',
 'DJ Bravo',
 'DJ Hussey',
 'DPMD Jayawardene',
 'Harbhajan Singh',
 'IK Pathan',
 'JA Morkel',
 'JH Kallis',
 'JP Duminy',
 'JP Faulkner',
 'KA Pollard',
 'KD Karthik',
 'KM Jadhav',
 'LRPL Taylor',
 'MK Pandey',
 'MK Tiwary',
 'MS Dhoni',
 'NV Ojha',
 'P Kumar',
 'PP Chawla',
 'R Vinay Kumar',
 'RA Jadeja',
 'RG Sharma',
 'RV Uthappa',
 'S Badrinath',
 'S Dhawan',
 'SK Raina',
 'SPD Smith',
 'SS Tiwary',
 'STR Binny',
 'V Kohli',
 'WP Saha',
 'Y Venugopal Rao',
 'YK Pathan',
 'Yuvraj Singh']

In [88]:
bat_43=death_over[death_over["batsman"].isin(batsman_list)]

In [91]:
bat_43.shape[0]

16669

In [92]:
runs=bat_43.groupby('batsman')["batsman_runs"].sum()

In [93]:
balls=bat_43.groupby('batsman')["batsman_runs"].count()

In [94]:
sr=runs/balls*100

In [97]:
sr.sort_values(ascending=False).head(10)

batsman
AB de Villiers    211.052632
DA Warner         189.473684
DA Miller         186.666667
V Kohli           181.868132
RG Sharma         175.668449
DJ Hussey         175.213675
RV Uthappa        173.454545
Yuvraj Singh      171.124031
JH Kallis         170.562771
MS Dhoni          169.607843
Name: batsman_runs, dtype: float64

In [100]:
new=delivery.merge(match,left_on='match_id',right_on='id')

In [101]:
new.shape

(150460, 39)

In [109]:
new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index().drop_duplicates(keep='first',subset='season').sort_values('season')

    season       batsman  batsman_runs
10    2008      SE Marsh           616
13    2009     ML Hayden           572
9     2010  SR Tendulkar           618
11    2011      CH Gayle           608
2     2012      CH Gayle           733
3     2013    MEK Hussey           733
6     2014    RV Uthappa           660
17    2015     DA Warner           562
0     2016       V Kohli           973
7     2017     DA Warner           641

In [112]:
four=delivery[delivery["batsman_runs"]==4]

In [115]:
four.pivot_table(index='over',columns='batting_team',values='batsman_runs',aggfunc='count')

batting_team,Chennai Super Kings,Deccan Chargers,Delhi Daredevils,Gujarat Lions,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiant,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
over,,,,,,,,,,,,,,
1,83,72,113,31,114,12,128,108,31,91,10,11,107,61
2,127,72,159,27,143,9,150,134,36,101,12,13,123,64
3,106,73,140,33,144,14,148,144,49,119,19,16,148,64
4,125,62,139,34,151,19,147,158,40,125,13,17,141,78
5,142,56,151,29,155,11,150,148,36,108,15,9,138,83
6,133,66,128,33,164,20,122,150,43,125,18,19,139,84
7,65,36,86,18,76,8,72,75,16,59,3,7,63,35
8,73,42,66,26,87,4,58,75,24,62,8,8,84,26
9,85,25,83,17,80,7,70,83,19,73,5,10,83,38
10,61,33,84,17,82,3,77,76,21,73,6,4,73,43
11,66,48,75,22,87,6,81,83,20,67,6,7,85,32
12,70,45,75,14,86,8,76,97,30,67,14,6,69,44
13,62,27,88,18,75,11,86,84,18,52,6,9,67,31
14,75,35,78,23,92,4,83,90,15,75,10,2,91,42
15,78,48,68,16,97,8,97,111,22,83,6,3,90,48
16,68,43,78,20,87,5,86,102,18,66,9,3,86,44
17,96,48,94,25,99,5,92,119,18,84,10,8,99,43
18,83,41,110,20,84,5,93,97,27,76,6,7,105,43
19,92,46,77,22,94,6,79,114,19,55,11,4,104,52
20,80,39,78,15,86,5,83,97,23,69,10,8,83,44